.header {
    position: fixed;
    top: 50%;
    left: 50%;
    display: inline-flex;
    flex-direction: column;
    height: 89px;
    align-items: flex-start;
    position: relative;
    background-color: var(--shadeswhite);
    box-shadow: var(--shadow-sm);
}

.header .top-of-header {
    display: flex;
    width: 1440px;
    align-items: center;
    justify-content: center;
    gap: 28px;
    padding: 8px 32px;
    position: relative;
    flex: 0 0 auto;
    background-color: #ffffff;
}

.header .logo {
    position: relative;
    width: 131px;
    height: 38px;
}

.header .text-wrapper {
    position: absolute;
    height: 38px;
    top: -1px;
    left: 0;
    font-family: "Rubik-ExtraBold", Helvetica;
    font-weight: 800;
    color: var(--gray-900);
    font-size: 32px;
    text-align: center;
    letter-spacing: 0.64px;
    line-height: 38.4px;
    white-space: nowrap;
}

.header .search {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    position: relative;
    flex: 1;
    flex-grow: 1;
}

.header .drop-down-dropdown {
    display: inline-flex;
    height: 20px;
    align-items: center;
    justify-content: center;
    gap: 4px;
    padding: 10px 16px;
    position: relative;
    flex: 0 0 auto;
    background-color: var(--shadeswhite);
    border-radius: 8px;
    overflow: hidden;
    border: 0.5px solid;
    border-color: var(--gray-200);
}

.header .text {
    position: relative;
    width: fit-content;
    margin-top: -0.5px;
    font-family: var(--PC-body-text-sm-light-font-family);
    font-weight: var(--PC-body-text-sm-light-font-weight);
    color: var(--gray-900);
    font-size: var(--PC-body-text-sm-light-font-size);
    letter-spacing: var(--PC-body-text-sm-light-letter-spacing);
    line-height: var(--PC-body-text-sm-light-line-height);
    white-space: nowrap;
    font-style: var(--PC-body-text-sm-light-font-style);
}

.header .icon {
    position: relative;
    width: 16px;
    height: 16px;
}

.header .frame {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 0px 16px 0px 0px;
    position: relative;
    flex: 1;
    flex-grow: 1;
    background-color: var(--gray-25);
    border-radius: 8px;
    border: 0.5px solid;
    border-color: var(--gray-200);
}

.header .div {
    display: inline-flex;
    height: 40px;
    align-items: center;
    justify-content: center;
    gap: 4px;
    padding: 10px 16px;
    position: relative;
    flex: 0 0 auto;
    background-color: var(--shadeswhite);
    border-radius: 8px 0px 0px 8px;
    overflow: hidden;
    border: 0.5px solid;
    border-color: var(--gray-200);
}

.header .text-wrapper-2 {
    position: relative;
    flex: 1;
    font-family: var(--PC-body-text-sm-light-font-family);
    font-weight: var(--PC-body-text-sm-light-font-weight);
    color: var(--gray-400);
    font-size: var(--PC-body-text-sm-light-font-size);
    letter-spacing: var(--PC-body-text-sm-light-letter-spacing);
    line-height: var(--PC-body-text-sm-light-line-height);
    font-style: var(--PC-body-text-sm-light-font-style);
}

.header .img {
    position: relative;
    width: 24px;
    height: 24px;
}

.header .lng {
    display: inline-flex;
    align-items: center;
    gap: 4px;
    position: relative;
    flex: 0 0 auto;
}

.header .ukraine-UA {
    position: relative;
    width: 20px;
    height: 15px;
}

.header .text-wrapper-3 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: var(--PC-body-text-sm-medium-font-family);
    font-weight: var(--PC-body-text-sm-medium-font-weight);
    color: var(--gray-900);
    font-size: var(--PC-body-text-sm-medium-font-size);
    letter-spacing: var(--PC-body-text-sm-medium-letter-spacing);
    line-height: var(--PC-body-text-sm-medium-line-height);
    white-space: nowrap;
    font-style: var(--PC-body-text-sm-medium-font-style);
}

.header .icons {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    position: relative;
    flex: 0 0 auto;
}

.header .button-base {
    display: inline-flex;
    align-items: flex-start;
    position: relative;
    flex: 0 0 auto;
}

.header .button-base-primary {
    display: inline-flex;
    height: 36px;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 8px;
    position: relative;
    flex: 0 0 auto;
    border-radius: 8px;
    overflow: hidden;
}

.header .icon-2 {
    position: relative;
    width: 24px;
    height: 24px;
    margin-top: -2px;
    margin-bottom: -2px;
}

.header .bottom-of-header {
    display: flex;
    width: 1440px;
    align-items: center;
    gap: 24px;
    padding: 0px 32px;
    position: relative;
    flex: 0 0 auto;
    margin-bottom: -3px;
    background-color: #ffffff;
    border-top-width: 0.5px;
    border-top-style: solid;
    border-color: var(--gray-100);
}

.header .navbar {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    padding: 8px 0px;
    position: relative;
    flex: 0 0 auto;
}

.header .text-wrapper-4 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: var(--PC-body-text-sm-medium-font-family);
    font-weight: var(--PC-body-text-sm-medium-font-weight);
    color: var(--gray-500);
    font-size: var(--PC-body-text-sm-medium-font-size);
    text-align: center;
    letter-spacing: var(--PC-body-text-sm-medium-letter-spacing);
    line-height: var(--PC-body-text-sm-medium-line-height);
    white-space: nowrap;
    font-style: var(--PC-body-text-sm-medium-font-style);
}


.main-page-PC {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.main-page-PC .div {
    background-color: var(--shadeswhite);
    width: 1440px;
    height: 2894px;
    position: relative;
}

.main-page-PC .frame {
    display: flex;
    width: 1248px;
    align-items: flex-start;
    gap: 24px;
    position: absolute;
    top: 120px;
    left: 96px;
}

.main-page-PC .menu-catalog {
    display: flex;
    flex-direction: column;
    width: 358px;
    align-items: flex-start;
    position: relative;
    background-color: var(--shadeswhite);
    border-radius: 8px;
    overflow: hidden;
    border: 0.5px solid;
    border-color: var(--gray-200);
    box-shadow: var(--shadow-sm);
}

.main-page-PC .component {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 16px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

.main-page-PC .list-item {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: var(--PC-body-text-sm-medium-font-family);
    font-weight: var(--PC-body-text-sm-medium-font-weight);
    color: var(--gray-500);
    font-size: var(--PC-body-text-sm-medium-font-size);
    letter-spacing: var(--PC-body-text-sm-medium-letter-spacing);
    line-height: var(--PC-body-text-sm-medium-line-height);
    white-space: nowrap;
    font-style: var(--PC-body-text-sm-medium-font-style);
}

.main-page-PC .banner {
    position: relative;
    flex: 1;
    flex-grow: 1;
    height: 372px;
    margin-right: -2px;
}

.main-page-PC .overlap-group {
    position: relative;
    width: 866px;
    height: 372px;
    background-image: url(./img/unsplash_x8ZStukS2PM.png);
    background-size: cover;
    background-position: 50% 50%;
}

.main-page-PC .text-wrapper {
    position: absolute;
    width: 415px;
    top: 0px;
    left: 45px;
    font-family: var(--PC-heading-h1-bold-font-family);
    font-weight: var(--PC-heading-h1-bold-font-weight);
    color: var(--shadeswhite);
    font-size: var(--PC-heading-h1-bold-font-size);
    letter-spacing: var(--PC-heading-h1-bold-letter-spacing);
    line-height: var(--PC-heading-h1-bold-line-height);
    font-style: var(--PC-heading-h1-bold-font-style);
}

.main-page-PC .div-wrapper {
    display: flex;
    width: 240px;
    align-items: center;
    justify-content: center;
    padding: 6px;
    position: absolute;
    top: 317px;
    left: 612px;
    background-color: var(--shadeswhite);
    border-radius: 2px;
}

.main-page-PC .text-wrapper-2 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: var(--PC-body-text-sm-medium-font-family);
    font-weight: var(--PC-body-text-sm-medium-font-weight);
    color: var(--shadesblack);
    font-size: var(--PC-body-text-sm-medium-font-size);
    letter-spacing: var(--PC-body-text-sm-medium-letter-spacing);
    line-height: var(--PC-body-text-sm-medium-line-height);
    white-space: nowrap;
    font-style: var(--PC-body-text-sm-medium-font-style);
}

.main-page-PC .popular-goods-now {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    position: absolute;
    top: 564px;
    left: 36px;
}

.main-page-PC .frame-2 {
    display: flex;
    align-items: center;
    padding: 0px 60px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

.main-page-PC .text-wrapper-3 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: var(--PC-heading-h3-bold-font-family);
    font-weight: var(--PC-heading-h3-bold-font-weight);
    color: var(--gray-900);
    font-size: var(--PC-heading-h3-bold-font-size);
    letter-spacing: var(--PC-heading-h3-bold-letter-spacing);
    line-height: var(--PC-heading-h3-bold-line-height);
    white-space: nowrap;
    font-style: var(--PC-heading-h3-bold-font-style);
}

.main-page-PC .popular-goods-photo {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    position: relative;
    flex: 0 0 auto;
}

.main-page-PC .icon-wrapper {
    position: relative;
    width: 48px;
    height: 48px;
    background-color: var(--shadeswhite);
    border-radius: 24px;
    box-shadow: var(--shadow-sm);
}

.main-page-PC .icon {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 4px;
    left: 3px;
}

.main-page-PC .frame-3 {
    display: flex;
    flex-wrap: wrap;
    width: 1248px;
    align-items: flex-start;
    gap: 24px 24px;
    position: relative;
}

.main-page-PC .card-of-product {
    display: flex;
    flex-direction: column;
    width: 230px;
    height: 280px;
    align-items: flex-start;
    position: relative;
    background-color: var(--shadeswhite);
    border-radius: 8px;
    overflow: hidden;
    box-shadow: var(--shadow-sm);
}

.main-page-PC .rectangle {
    position: relative;
    flex: 1;
    align-self: stretch;
    width: 100%;
    flex-grow: 1;
    object-fit: cover;
}

.main-page-PC .frame-4 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    padding: 8px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

.main-page-PC .frame-5 {
    display: flex;
    align-items: flex-start;
    gap: 8px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

.main-page-PC .text-wrapper-4 {
    position: relative;
    flex: 1;
    margin-top: -1px;
    font-family: var(--PC-body-text-sm-medium-font-family);
    font-weight: var(--PC-body-text-sm-medium-font-weight);
    color: var(--gray-900);
    font-size: var(--PC-body-text-sm-medium-font-size);
    letter-spacing: var(--PC-body-text-sm-medium-letter-spacing);
    line-height: var(--PC-body-text-sm-medium-line-height);
    font-style: var(--PC-body-text-sm-medium-font-style);
}

.main-page-PC .frame-6 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 4px 4px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

.main-page-PC .div-2 {
    display: inline-flex;
    align-items: flex-start;
    position: relative;
    flex: 0 0 auto;
}

.main-page-PC .img {
    position: relative;
    width: 16px;
    height: 16px;
}

.main-page-PC .element {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: var(--PC-body-lable-light-font-family);
    font-weight: var(--PC-body-lable-light-font-weight);
    color: var(--gray-900);
    font-size: var(--PC-body-lable-light-font-size);
    letter-spacing: var(--PC-body-lable-light-letter-spacing);
    line-height: var(--PC-body-lable-light-line-height);
    white-space: nowrap;
    font-style: var(--PC-body-lable-light-font-style);
}

.main-page-PC .text-wrapper-5 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: var(--PC-body-text-sm-medium-font-family);
    font-weight: var(--PC-body-text-sm-medium-font-weight);
    color: var(--gray-900);
    font-size: var(--PC-body-text-sm-medium-font-size);
    letter-spacing: var(--PC-body-text-sm-medium-letter-spacing);
    line-height: var(--PC-body-text-sm-medium-line-height);
    white-space: nowrap;
    font-style: var(--PC-body-text-sm-medium-font-style);
}

.main-page-PC .element-2 {
    position: relative;
    width: fit-content;
    font-family: "Rubik-Light", Helvetica;
    font-weight: 300;
    color: var(--success-700);
    font-size: 12px;
    letter-spacing: 0.24px;
    line-height: 16.8px;
    text-decoration: line-through;
    white-space: nowrap;
}

.main-page-PC .p {
    position: relative;
    width: fit-content;
    font-family: "Rubik-Light", Helvetica;
    font-weight: 300;
    color: var(--success-700);
    font-size: 12px;
    letter-spacing: 0.24px;
    line-height: 16.8px;
    white-space: nowrap;
}

.main-page-PC .span {
    text-decoration: line-through;
}

.main-page-PC .text-wrapper-6 {
    font-family: "Rubik-Light", Helvetica;
    font-weight: 300;
    color: #027947;
    font-size: 12px;
    letter-spacing: 0.24px;
    line-height: 16.8px;
}

.main-page-PC .rectangle-2 {
    position: relative;
    flex: 1;
    align-self: stretch;
    width: 100%;
    flex-grow: 1;
}

.main-page-PC .icon-2 {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 4px;
    left: 5px;
}

.main-page-PC .faqs-section {
    display: inline-flex;
    align-items: flex-start;
    gap: 149px;
    position: absolute;
    top: 1626px;
    left: 96px;
}

.main-page-PC .div-3 {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    position: relative;
    flex: 0 0 auto;
}

.main-page-PC .text-wrapper-7 {
    position: relative;
    width: 358px;
    font-family: var(--PC-body-text-md-light-font-family);
    font-weight: var(--PC-body-text-md-light-font-weight);
    color: #000000;
    font-size: var(--PC-body-text-md-light-font-size);
    letter-spacing: var(--PC-body-text-md-light-letter-spacing);
    line-height: var(--PC-body-text-md-light-line-height);
    font-style: var(--PC-body-text-md-light-font-style);
}

.main-page-PC .button-base {
    height: 46px;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 12px 20px;
    background-color: var(--primary-25);
    border-radius: 8px;
    overflow: hidden;
    box-shadow: var(--shadow-xs);
    display: inline-flex;
    position: relative;
}

.main-page-PC .text {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: var(--PC-body-text-md-medium-font-family);
    font-weight: var(--PC-body-text-md-medium-font-weight);
    color: var(--primary-900);
    font-size: var(--PC-body-text-md-medium-font-size);
    letter-spacing: var(--PC-body-text-md-medium-letter-spacing);
    line-height: var(--PC-body-text-md-medium-line-height);
    white-space: nowrap;
    font-style: var(--PC-body-text-md-medium-font-style);
}

.main-page-PC .FA-qs {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    flex: 0 0 auto;
    background-color: #ffffff;
}

.main-page-PC .question-FAQ {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    padding: 0px 0px 16px;
    background-color: #ffffff;
    position: relative;
    flex: 0 0 auto;
}

.main-page-PC .question-lable {
    display: flex;
    width: 741px;
    align-items: center;
    justify-content: space-between;
    padding: 16px 0px 0px;
    border-top-width: 1px;
    border-top-style: solid;
    border-color: var(--gray-300);
    position: relative;
    flex: 0 0 auto;
}

.main-page-PC .text-wrapper-8 {
    position: relative;
    width: 673px;
    font-family: var(--PC-heading-h6-medium-font-family);
    font-weight: var(--PC-heading-h6-medium-font-weight);
    color: #000000;
    font-size: var(--PC-heading-h6-medium-font-size);
    letter-spacing: var(--PC-heading-h6-medium-letter-spacing);
    line-height: var(--PC-heading-h6-medium-line-height);
    font-style: var(--PC-heading-h6-medium-font-style);
}

.main-page-PC .img-wrapper {
    position: relative;
    width: 40px;
    height: 40px;
    transform: rotate(-90deg);
}

.main-page-PC .icon-3 {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 0;
    left: 0;
    transform: rotate(90deg);
}

.main-page-PC .line {
    margin-bottom: -0.5px;
    margin-left: -0.5px;
    margin-right: -0.5px;
    object-fit: cover;
    position: relative;
    align-self: stretch;
    width: 100%;
    height: 1px;
}

.main-page-PC .footer {
    display: flex;
    flex-direction: column;
    width: 1440px;
    align-items: flex-start;
    position: absolute;
    top: 2246px;
    left: 0;
    background-color: var(--shadeswhite);
}

.main-page-PC .section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 64px;
    padding: 48px 0px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
    background-color: var(--accent-25);
}

.main-page-PC .container {
    display: flex;
    flex-direction: column;
    width: 1248px;
    align-items: flex-start;
    gap: 64px;
    position: relative;
    flex: 0 0 auto;
}

.main-page-PC .content {
    display: flex;
    align-items: flex-start;
    gap: 32px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

.main-page-PC .text-and-supporting {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    position: relative;
    flex: 1;
    align-self: stretch;
    flex-grow: 1;
}

.main-page-PC .text-2 {
    position: relative;
    align-self: stretch;
    margin-top: -1px;
    font-family: var(--PC-heading-h6-bold-font-family);
    font-weight: var(--PC-heading-h6-bold-font-weight);
    color: var(--gray-900);
    font-size: var(--PC-heading-h6-bold-font-size);
    letter-spacing: var(--PC-heading-h6-bold-letter-spacing);
    line-height: var(--PC-heading-h6-bold-line-height);
    font-style: var(--PC-heading-h6-bold-font-style);
}

.main-page-PC .supporting-text {
    position: relative;
    align-self: stretch;
    font-family: var(--PC-body-text-md-light-font-family);
    font-weight: var(--PC-body-text-md-light-font-weight);
    color: var(--gray-900);
    font-size: var(--PC-body-text-md-light-font-size);
    letter-spacing: var(--PC-body-text-md-light-letter-spacing);
    line-height: var(--PC-body-text-md-light-line-height);
    font-style: var(--PC-body-text-md-light-font-style);
}

.main-page-PC .email-capture {
    display: inline-flex;
    align-items: center;
    gap: 16px;
    position: relative;
    flex: 0 0 auto;
}

.main-page-PC .input {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2px;
    position: relative;
    flex: 0 0 auto;
}

.main-page-PC .input-text-here-wrapper {
    display: flex;
    height: 42px;
    align-items: center;
    gap: 4px;
    padding: 8px 16px;
    position: relative;
    align-self: stretch;
    width: 100%;
    background-color: var(--shadeswhite);
    border-radius: 8px;
    border: 0.5px solid;
    border-color: var(--gray-200);
}

.main-page-PC .input-text-here {
    position: relative;
    width: fit-content;
    font-family: var(--PC-body-text-md-light-font-family);
    font-weight: var(--PC-body-text-md-light-font-weight);
    color: var(--gray-400);
    font-size: var(--PC-body-text-md-light-font-size);
    letter-spacing: var(--PC-body-text-md-light-letter-spacing);
    line-height: var(--PC-body-text-md-light-line-height);
    white-space: nowrap;
    font-style: var(--PC-body-text-md-light-font-style);
}

.main-page-PC .button-base-2 {
    height: 40px;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 10px 16px;
    flex: 0 0 auto;
    background-color: var(--primary-500);
    border-radius: 8px;
    overflow: hidden;
    box-shadow: var(--shadow-xs);
    display: inline-flex;
    position: relative;
}

.main-page-PC .section-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 64px;
    padding: 64px 0px 48px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
    background-color: var(--shadeswhite);
}

.main-page-PC .content-wrapper {
    width: 1248px;
    gap: 48px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    flex: 0 0 auto;
}

.main-page-PC .content-2 {
    align-items: flex-start;
    gap: 64px;
    display: flex;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

.main-page-PC .logo-and-supporting {
    display: flex;
    flex-direction: column;
    width: 320px;
    align-items: flex-start;
    gap: 32px;
    position: relative;
}

.main-page-PC .frame-7 {
    display: inline-flex;
    align-items: flex-start;
    gap: 24px;
    position: relative;
    flex: 0 0 auto;
}

.main-page-PC .text-wrapper-9 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: var(--PC-heading-h3-medium-font-family);
    font-weight: var(--PC-heading-h3-medium-font-weight);
    color: var(--gray-900);
    font-size: var(--PC-heading-h3-medium-font-size);
    letter-spacing: var(--PC-heading-h3-medium-letter-spacing);
    line-height: var(--PC-heading-h3-medium-line-height);
    white-space: nowrap;
    font-style: var(--PC-heading-h3-medium-font-style);
}

.main-page-PC .text-wrapper-10 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: var(--PC-heading-h3-medium-font-family);
    font-weight: var(--PC-heading-h3-medium-font-weight);
    color: var(--gray-200);
    font-size: var(--PC-heading-h3-medium-font-size);
    letter-spacing: var(--PC-heading-h3-medium-letter-spacing);
    line-height: var(--PC-heading-h3-medium-line-height);
    white-space: nowrap;
    font-style: var(--PC-heading-h3-medium-font-style);
}

.main-page-PC .links {
    display: flex;
    align-items: flex-start;
    gap: 40px;
    position: relative;
    flex: 1;
    flex-grow: 1;
}

.main-page-PC .footer-links {
    display: flex;
    flex-direction: column;
    width: 153.6px;
    align-items: flex-start;
    gap: 16px;
    position: relative;
    align-self: stretch;
}

.main-page-PC .footer-link {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    position: relative;
    flex: 0 0 auto;
}

.main-page-PC .text-3 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: var(--PC-body-text-md-medium-font-family);
    font-weight: var(--PC-body-text-md-medium-font-weight);
    color: var(--gray-900);
    font-size: var(--PC-body-text-md-medium-font-size);
    letter-spacing: var(--PC-body-text-md-medium-letter-spacing);
    line-height: var(--PC-body-text-md-medium-line-height);
    white-space: nowrap;
    font-style: var(--PC-body-text-md-medium-font-style);
}

.main-page-PC .text-4 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: var(--PC-body-text-sm-light-font-family);
    font-weight: var(--PC-body-text-sm-light-font-weight);
    color: var(--gray-900);
    font-size: var(--PC-body-text-sm-light-font-size);
    letter-spacing: var(--PC-body-text-sm-light-letter-spacing);
    line-height: var(--PC-body-text-sm-light-line-height);
    white-space: nowrap;
    font-style: var(--PC-body-text-sm-light-font-style);
}

.main-page-PC .container-2 {
    gap: 32px;
    padding: 0px 32px;
    align-self: stretch;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    flex: 0 0 auto;
}

.main-page-PC .line-2 {
    margin-top: -0.5px;
    position: relative;
    align-self: stretch;
    width: 100%;
    height: 1px;
}

.main-page-PC .content-3 {
    align-items: center;
    gap: 60px;
    display: flex;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

.main-page-PC .frame-8 {
    display: flex;
    align-items: center;
    gap: 16px;
    position: relative;
    flex: 1;
    flex-grow: 1;
}

.main-page-PC .div-wrapper-2 {
    position: relative;
    width: 131px;
    height: 38px;
}

.main-page-PC .text-wrapper-11 {
    position: absolute;
    height: 38px;
    top: -1px;
    left: 0;
    font-family: "Rubik-ExtraBold", Helvetica;
    font-weight: 800;
    color: var(--gray-900);
    font-size: 32px;
    text-align: center;
    letter-spacing: 0.64px;
    line-height: 38.4px;
    white-space: nowrap;
}

.main-page-PC .footer-text {
    position: relative;
    flex: 1;
    font-family: var(--PC-body-text-md-light-font-family);
    font-weight: var(--PC-body-text-md-light-font-weight);
    color: var(--gray-900);
    font-size: var(--PC-body-text-md-light-font-size);
    letter-spacing: var(--PC-body-text-md-light-letter-spacing);
    line-height: var(--PC-body-text-md-light-line-height);
    font-style: var(--PC-body-text-md-light-font-style);
}

.main-page-PC .frame-9 {
    display: inline-flex;
    align-items: flex-start;
    gap: 16px;
    position: relative;
    flex: 0 0 auto;
}

.main-page-PC .div-4 {
    display: inline-flex;
    height: 20px;
    align-items: center;
    justify-content: center;
    gap: 4px;
    padding: 10px 16px;
    position: relative;
    flex: 0 0 auto;
    background-color: var(--shadeswhite);
    border-radius: 8px;
    overflow: hidden;
    border: 0.5px solid;
    border-color: var(--gray-200);
}

.main-page-PC .text-5 {
    width: 74px;
    position: relative;
    width: fit-content;
    margin-top: -0.5px;
    font-family: var(--PC-body-text-sm-light-font-family);
    font-weight: var(--PC-body-text-sm-light-font-weight);
    color: var(--gray-900);
    font-size: var(--PC-body-text-sm-light-font-size);
    letter-spacing: var(--PC-body-text-sm-light-letter-spacing);
    line-height: var(--PC-body-text-sm-light-line-height);
    white-space: nowrap;
    font-style: var(--PC-body-text-sm-light-font-style);
}

.main-page-PC .ukraine-UA {
    position: relative;
    width: 20px;
    height: 15px;
}

.main-page-PC .social-icons {
    display: inline-flex;
    align-items: center;
    gap: 24px;
    position: relative;
    flex: 0 0 auto;
}

.main-page-PC .vector {
    position: relative;
    width: 24px;
    height: 23.85px;
}

.main-page-PC .vector-2 {
    position: relative;
    width: 24px;
    height: 19.5px;
}

.main-page-PC .img-2 {
    position: relative;
    width: 24px;
    height: 24px;
}

.main-page-PC .special-for-you {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    position: absolute;
    top: 990px;
    left: 94px;
}

.main-page-PC .all-text {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    position: relative;
    flex: 0 0 auto;
}

.main-page-PC .text-wrapper-12 {
    position: relative;
    width: 477px;
    height: 35px;
    margin-top: -1px;
    font-family: var(--PC-heading-h3-bold-font-family);
    font-weight: var(--PC-heading-h3-bold-font-weight);
    color: var(--gray-900);
    font-size: var(--PC-heading-h3-bold-font-size);
    letter-spacing: var(--PC-heading-h3-bold-letter-spacing);
    line-height: var(--PC-heading-h3-bold-line-height);
    white-space: nowrap;
    font-style: var(--PC-heading-h3-bold-font-style);
}

.main-page-PC .text-line {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 11px;
    position: relative;
    flex: 0 0 auto;
}

.main-page-PC .text-wrapper-13 {
    position: relative;
    width: 230px;
    margin-top: -1px;
    font-family: var(--PC-body-text-md-medium-font-family);
    font-weight: var(--PC-body-text-md-medium-font-weight);
    color: var(--gray-900);
    font-size: var(--PC-body-text-md-medium-font-size);
    text-align: center;
    letter-spacing: var(--PC-body-text-md-medium-letter-spacing);
    line-height: var(--PC-body-text-md-medium-line-height);
    font-style: var(--PC-body-text-md-medium-font-style);
}

.main-page-PC .text-wrapper-14 {
    position: relative;
    width: 231px;
    margin-top: -1px;
    font-family: var(--PC-body-text-md-medium-font-family);
    font-weight: var(--PC-body-text-md-medium-font-weight);
    color: var(--gray-300);
    font-size: var(--PC-body-text-md-medium-font-size);
    text-align: center;
    letter-spacing: var(--PC-body-text-md-medium-letter-spacing);
    line-height: var(--PC-body-text-md-medium-line-height);
    font-style: var(--PC-body-text-md-medium-font-style);
}

.main-page-PC .text-wrapper-15 {
    position: relative;
    width: 230px;
    margin-top: -1px;
    font-family: var(--PC-body-text-md-medium-font-family);
    font-weight: var(--PC-body-text-md-medium-font-weight);
    color: var(--gray-300);
    font-size: var(--PC-body-text-md-medium-font-size);
    text-align: center;
    letter-spacing: var(--PC-body-text-md-medium-letter-spacing);
    line-height: var(--PC-body-text-md-medium-line-height);
    font-style: var(--PC-body-text-md-medium-font-style);
}

.main-page-PC .line-3 {
    position: relative;
    width: 1249.5px;
    flex: 0 0 auto;
    margin-bottom: -0.75px;
    margin-left: -0.75px;
    margin-right: -0.75px;
    object-fit: cover;
}

.main-page-PC .goods-for-you-big {
    display: flex;
    width: 360px;
    height: 345px;
    align-items: flex-end;
    justify-content: space-around;
    padding: 20px 24px;
    position: relative;
    background-image: url(./img/goods-for-you-big.png);
    background-size: cover;
    background-position: 50% 50%;
}

.main-page-PC .frame-10 {
    display: flex;
    width: 312px;
    align-items: flex-end;
    justify-content: space-between;
    position: relative;
}

.main-page-PC .button-base-3 {
    display: flex;
    width: 92px;
    height: 38px;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 8px 14px;
    position: relative;
    margin-top: -1px;
    margin-bottom: -1px;
    margin-left: -1px;
    background-color: var(--shadeswhite);
    border-radius: 8px;
    overflow: hidden;
    border: 0.5px solid;
    border-color: var(--gray-200);
    box-shadow: var(--shadow-xs);
}

.main-page-PC .text-6 {
    position: relative;
    width: fit-content;
    margin-top: -0.25px;
    font-family: var(--PC-body-text-sm-medium-font-family);
    font-weight: var(--PC-body-text-sm-medium-font-weight);
    color: var(--gray-700);
    font-size: var(--PC-body-text-sm-medium-font-size);
    letter-spacing: var(--PC-body-text-sm-medium-letter-spacing);
    line-height: var(--PC-body-text-sm-medium-line-height);
    white-space: nowrap;
    font-style: var(--PC-body-text-sm-medium-font-style);
}

.main-page-PC .frame-11 {
    display: inline-flex;
    align-items: center;
    position: relative;
    flex: 0 0 auto;
    opacity: 0;
}

.main-page-PC .text-wrapper-16 {
    position: relative;
    width: fit-content;
    font-family: var(--PC-body-text-sm-medium-font-family);
    font-weight: var(--PC-body-text-sm-medium-font-weight);
    color: var(--shadeswhite);
    font-size: var(--PC-body-text-sm-medium-font-size);
    letter-spacing: var(--PC-body-text-sm-medium-letter-spacing);
    line-height: var(--PC-body-text-sm-medium-line-height);
    white-space: nowrap;
    font-style: var(--PC-body-text-sm-medium-font-style);
}

.main-page-PC .component-2 {
    width: 32px;
    height: 32px;
    position: relative;
    transform: rotate(-180deg);
}

.main-page-PC .icon-4 {
    position: absolute;
    width: 32px;
    height: 32px;
    top: -1781px;
    left: -1840px;
    transform: rotate(180deg);
}

.main-page-PC .frame-12 {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    position: relative;
    flex: 0 0 auto;
}

.main-page-PC .goods-for-you-small {
    display: flex;
    width: 230px;
    height: 161px;
    align-items: flex-end;
    justify-content: space-around;
    gap: 8px;
    padding: 12px;
    position: relative;
    background-image: url(./img/goods-for-you-small-2.png);
    background-size: cover;
    background-position: 50% 50%;
}

.main-page-PC .frame-13 {
    display: flex;
    width: 206px;
    align-items: flex-end;
    justify-content: space-between;
    position: relative;
}

.main-page-PC .button-base-4 {
    height: 38px;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 8px 14px;
    flex: 0 0 auto;
    margin-top: -1px;
    margin-bottom: -1px;
    margin-left: -1px;
    background-color: var(--shadeswhite);
    border-radius: 8px;
    overflow: hidden;
    border: 0.5px solid;
    border-color: var(--gray-200);
    box-shadow: var(--shadow-xs);
    display: inline-flex;
    position: relative;
}

.main-page-PC .component-3 {
    width: 24px;
    height: 24px;
    position: relative;
    transform: rotate(-180deg);
}

.main-page-PC .icon-5 {
    position: absolute;
    width: 24px;
    height: 24px;
    top: -1949px;
    left: -1566px;
    transform: rotate(180deg);
}

.main-page-PC .frame-wrapper {
    display: flex;
    width: 230px;
    height: 161px;
    align-items: flex-end;
    justify-content: space-around;
    gap: 8px;
    padding: 12px;
    position: relative;
    background-image: url(./img/goods-for-you-small.png);
    background-size: cover;
    background-position: 50% 50%;
}

.main-page-PC .icon-6 {
    position: absolute;
    width: 24px;
    height: 24px;
    top: -1764px;
    left: -1566px;
    transform: rotate(180deg);
}

.main-page-PC .goods-for-you-big-2 {
    display: flex;
    width: 360px;
    height: 345px;
    align-items: flex-end;
    justify-content: space-around;
    padding: 20px 24px;
    position: relative;
    background-image: url(./img/goods-for-you-big-2.png);
    background-size: cover;
    background-position: 50% 50%;
}

.main-page-PC .icon-7 {
    position: absolute;
    width: 32px;
    height: 32px;
    top: -1781px;
    left: -1202px;
    transform: rotate(180deg);
}

.main-page-PC .goods-for-you-small-2 {
    display: flex;
    width: 230px;
    height: 161px;
    align-items: flex-end;
    justify-content: space-around;
    gap: 8px;
    padding: 12px;
    position: relative;
    background-image: url(./img/goods-for-you-small-4.png);
    background-size: cover;
    background-position: 50% 50%;
}

.main-page-PC .icon-8 {
    position: absolute;
    width: 24px;
    height: 24px;
    top: -1949px;
    left: -928px;
    transform: rotate(180deg);
}

.main-page-PC .goods-for-you-small-3 {
    display: flex;
    width: 230px;
    height: 161px;
    align-items: flex-end;
    justify-content: space-around;
    gap: 8px;
    padding: 12px;
    position: relative;
    background-image: url(./img/goods-for-you-small-3.png);
    background-size: cover;
    background-position: 50% 50%;
}

.main-page-PC .icon-9 {
    position: absolute;
    width: 24px;
    height: 24px;
    top: -1764px;
    left: -928px;
    transform: rotate(180deg);
}

.main-page-PC .header {
    display: inline-flex;
    flex-direction: column;
    height: 89px;
    align-items: flex-start;
    top: -1px;
    left: 0;
    background-color: var(--shadeswhite);
    box-shadow: var(--shadow-sm);
}

.main-page-PC .top-of-header {
    display: flex;
    width: 1440px;
    align-items: center;
    justify-content: center;
    gap: 28px;
    padding: 8px 32px;
    position: relative;
    flex: 0 0 auto;
    background-color: #ffffff;
}

.main-page-PC .search {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    position: relative;
    flex: 1;
    flex-grow: 1;
}

.main-page-PC .frame-14 {
    height: 40px;
    width: 871px;
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 0px 16px 0px 0px;
    position: relative;
    flex: 1;
    flex-grow: 1;
    background-color: var(--gray-25);
    border-radius: 8px;
    border: 0.5px solid;
    border-color: var(--gray-200);
}

.main-page-PC .drop-down-dropdown {
    display: inline-flex;
    height: 20px;
    align-items: center;
    justify-content: center;
    gap: 4px;
    padding: 10px 16px;
    position: relative;
    flex: 0 0 auto;
    background-color: var(--shadeswhite);
    border-radius: 8px 0px 0px 8px;
    overflow: hidden;
    border: 0.5px solid;
    border-color: var(--gray-200);
}

.main-page-PC .text-wrapper-17 {
    position: relative;
    flex: 1;
    font-family: var(--PC-body-text-sm-light-font-family);
    font-weight: var(--PC-body-text-sm-light-font-weight);
    color: var(--gray-400);
    font-size: var(--PC-body-text-sm-light-font-size);
    letter-spacing: var(--PC-body-text-sm-light-letter-spacing);
    line-height: var(--PC-body-text-sm-light-line-height);
    font-style: var(--PC-body-text-sm-light-font-style);
}

.main-page-PC .lng {
    display: inline-flex;
    align-items: center;
    gap: 4px;
    position: relative;
    flex: 0 0 auto;
}

.main-page-PC .icons {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    position: relative;
    flex: 0 0 auto;
}

.main-page-PC .button-base-primary {
    display: inline-flex;
    height: 36px;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 8px;
    position: relative;
    flex: 0 0 auto;
    border-radius: 8px;
    overflow: hidden;
}

.main-page-PC .icon-10 {
    position: relative;
    width: 24px;
    height: 24px;
    margin-top: -2px;
    margin-bottom: -2px;
}

.main-page-PC .bottom-of-header {
    display: flex;
    width: 1440px;
    align-items: center;
    gap: 24px;
    padding: 0px 32px;
    position: relative;
    flex: 0 0 auto;
    margin-bottom: -3px;
    background-color: #ffffff;
    border-top-width: 0.5px;
    border-top-style: solid;
    border-color: var(--gray-100);
}

.main-page-PC .navbar {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    padding: 8px 0px;
    position: relative;
    flex: 0 0 auto;
}

.main-page-PC .text-wrapper-18 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: var(--PC-body-text-sm-medium-font-family);
    font-weight: var(--PC-body-text-sm-medium-font-weight);
    color: var(--gray-500);
    font-size: var(--PC-body-text-sm-medium-font-size);
    text-align: center;
    letter-spacing: var(--PC-body-text-sm-medium-letter-spacing);
    line-height: var(--PC-body-text-sm-medium-line-height);
    white-space: nowrap;
    font-style: var(--PC-body-text-sm-medium-font-style);
}

.main-page-PC .ButtonIcon{
    padding: 0px;
    border: none;
    background-color: rgba(0, 0, 0, 0);
}
